body{
  background-color:#1d1f20;
  font-size:11px;
  font-family:"Roboto";
height:100%;
}

html { 
  height: 100%; 
  margin: auto; 
} 

.emogi{
width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.8);

  top: 0px;
  left: 0px;

}
svg#roboto {
    display: none;
}
.opcional{
  width:460px;
  height:100%;
  border: 2px solid #343436;
  border-radius: 6px;
  background-color:#1d1f20;
  margin: 0 auto;
}
.emogi input[type="radio"], .emogi input[type="button"]{
  display:none;
}
.emogi label {
  color:silver;
  border-radius:8px;
  width: 50px;
  padding: 15px 15px 15px 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.emogi label:hover{
  background-color:#343436;
  color: white;
}

.emogi label:hover>.cara {
  stroke:white;
}

.cara{
  dsplay: inline-blocK;
  stroke:silver;
  width:50px;
  height:50px;
}
.emogi input[type="radio"]:checked + label{
  background: #eed046;
  font-weight: bold;
  color:black;
}
.emogi input[type="radio"]:checked + label .cara, .emogi input[type="radio"]:checked + label .genero{
  stroke: black;
  fill: black;
  transform:scale(1.2);
  transition: stroke 0.3s ease;
  transition: transform 0.3s ease;
}
.genero{
  fill: silver;
  stroke:silver;
  width:48px;
  height:72px;
}
.field_options{
   width:60%;
  min-width:400px;
  border-color:#343436;
  margin:auto;
  margin-top:20px;
  border-radius:6px;
}
.field_options legend{
color:silver;
}
.auto {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.center { 
  justify-content: center; 
}
.auto textarea{
  padding:10px;
  color: white;
  margin:10px;
  width:300px;
  height: 90px;
  background-color:#343436;
  outline: 0 none;
  resize:none;
}
.auto textarea:invalid .auto input:invalid, .auto input[type]:invalid{
border-color:#f02424;
}
.auto textarea:focus, .auto input:focus, .auto input[type]:focus{
      border-color: #eed046;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
    outline: 0 none;
    color: #eed046;
}

.auto textarea:hover, .auto input:hover, .auto input[type]:hover{
      border-color: #eed046;
}
.boto_esp{
  background-color:#121212;
  margin:10px;
}
.boto_esp:hover {
  background-color:red;
}
.senter {
  display: block;
  margin-left: auto;
  margin-right: auto;
margin-top:50px;

}


button {
  background-color: #cab384;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
margin-top:50px;
}